.article-news {
    padding-top: 60px;
    padding-bottom: 60px;

    .container {
        position: relative;
        .carousel {

        }
        .custom-dot-style {
            
        }

        .intro-title {

            .section-title {

                h2 {
                    margin-bottom: 20px;
                }
            }

            .btn-browse-articles {
                margin-bottom: 40px;
            }
        }
    }
}


@media (min-width: 768px) {

    .container {
        
        .articles {

            .article {
                margin-right: 20px;

                .article-body {

                    .article-title {
                        -webkit-line-clamp: 1;
                    }
                }
            }
        }    
    }
}


@media (min-width: 992px) {
    .article-news {
        padding-top: 120px;
        padding-bottom: 90px;

        .container {

            .intro-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                .section-title {
                    text-align: left;
                }
            }
        }  
    }
}