.newsletter {
    background-color: #F0EFE9;
    padding: 50px 0;

    .background-lines-right {
        display: none;
    }

    .container {
        text-align: center;

        h2 {
            margin-bottom: 30px;
        } 

        input {
            width: 100%;
            color: #191919;
            padding: 15px 30px;
            font-size: 16px;
            border-radius: 25px;
            outline: none;
            border: 1px solid rgba(25, 25, 25, 0.10);
            margin-bottom: 20px;
        }

        .subscribe-button {
            display: block;
        }
    }
}

@media (min-width: 768px) {
    .newsletter {
        position: relative;
        z-index: 0;

        .background-lines-right {
            display: block;
            position: absolute;
            bottom: 20px;
            right: 0;
            z-index: -1;
        }
    }
}

@media (min-width: 992px) {
    .container {
        
        #signUp {
            display: flex;
            justify-content: center;

            input {
                width: auto;
                margin-bottom: 0;
                margin-right: 20px;
            }

            .subscribe-button {
                display: inline;
            }
        }
    }
}

@media (min-width: 1200px) {
    .newsletter {
        padding: 105px 0;
        
        .background-lines-right {
            bottom: 60px;
        }

        .container {
            display: flex;
            justify-content: space-between;

            h2 {
                margin-bottom: 0;
            }
        }
    }
}

@media (min-width: 1400px) {
    .newsletter {
        
        form {
            margin-right: 50px;
        }
    }
}