.article-and-news {
    padding-top: 60px;
    padding-bottom: 60px;
}

@media (min-width: 768px) {
    .article-and-news {

        .container {

            h2 {
                margin-bottom: 30px;
            }

        }
    }
}

@media (min-width: 768px) {
    .article-and-news {
        .container {
            .articles {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }

}

@media (min-width: 992px) {
    .article-and-news {
        padding-top: 120px;
        padding-bottom: 90px;

    }
}

@media (min-width: 1200px) {
    .article-and-news {

        .container {

            h2 {
                margin-bottom: 50px;
            }
        }
    }
}