header {
    background-color: #F0EFE9;
    padding: 16px;

    .container {
        display: grid;
        align-items: center;
        grid-template-columns:  1fr auto;
        grid-template-areas:    "logo bars";

        .btn-menubars {
            grid-area: bars;
            border: none;
            font-size: 25px;
            background-color: transparent;
            z-index: 2;
            color: green;
        }
    
        .logotype {
            grid-area: logo;
            margin-right: 50px;
        }

        .contactinformation-bar {
            display: none;
        }

        .menu {
            display: none;
        }
    }
}

@media (min-width: 992px) {
    header {

        .container {
            grid-template-columns:  auto 1fr auto;
            grid-template-areas:    "logo cib social"
                                    "logo menu menu";
    
            .btn-menubars {
                display: none;
            }  
    
            .menu {
                grid-area: menu;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-top: 1px solid #DAD9D3;
                margin-top: 10px;
                padding-top: 10px;
    
                nav {
                    
                    a {

                    }
                }

    
                .btn-login {
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    header {

        .container {

            .contactinformation-bar {
                display: flex;
        
                .content-box {
                    padding-right: 30px;
                    margin-right: 15px;
                    border-right: 1px solid #DAD9D3;
                    font-size: 15px;
                    font-weight: 300;
        
                    i {
                        margin-right: 5px;
                        font-size: 1.2rem;
                    }
        
                    &.last {
                        border: none;
                    }
                }
            }
        }
    }
}
