header {
    background-color: #F0EFE9;
    padding: 16px;

    .container {
        display: grid;
        align-items: center;
        grid-template-columns:  1fr auto;
        grid-template-areas:    "logo bars";

        .btn-menubars {
            grid-area: bars;
            border: none;
            font-size: 25px;
            background-color: transparent;
        }
    
        .logotype {
            grid-area: logo;
            margin-right: 50px;
        }

        .contactinformation-bar {
            display: none;
        }

        .socialmedia-bar {
            display: none;
        }

        .menu {
            display: none;
        }
    }
}

@media (min-width: 992px) {
    header {

        .container {
            grid-template-columns:  auto 1fr auto;
            grid-template-areas:    "logo cib social"
                                    "logo menu menu";
    
            .btn-menubars {
                display: none;
            }  
            
            .socialmedia-bar {
                grid-area: social;
                display: block;
                
                a {
                    color: #191919;
                    margin-left: 10px;

                    i {
                        font-size: 1.3rem;
                        transition: transform 0.15s ease-in-out, color 0.15s ease-in-out;

                        &:hover {
                            color: #7c7c7c;
                            transform: scale(1.2);
                        }
                    }  
                }
            }
    
            .menu {
                grid-area: menu;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-top: 1px solid #DAD9D3;
                margin-top: 10px;
                padding-top: 10px;
    
                nav {

                    a {
                        display: inline-block; 
                        color: #191919;
                        text-decoration: none;
                        margin-right: 35px;
                        position: relative;
    
                        &.active {
                            font-weight: 500;
                        }
    
                        &.active::after,
                        &:hover::after {
                            content: "";
                            position: absolute;
                            font-weight: 500;
                            height: 2px;
                            width: 15px;
                            background-color: #191919;
                            left: 50%;
                            bottom: -3px;
                            transform: translate((calc(50% - 15px)));
                        }
                    }
                }
    
                .btn-login {
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    header {

        .container {

            .contactinformation-bar {
                display: flex;
        
                .content-box {
                    padding-right: 30px;
                    margin-right: 15px;
                    border-right: 1px solid #DAD9D3;
                    font-size: 15px;
                    font-weight: 300;
        
                    i {
                        margin-right: 5px;
                        font-size: 1.2rem;
                    }
        
                    &.last {
                        border: none;
                    }
                }
            }
        }
    }
}

