footer {
    background-color: #0E1021;
    border: 1px solid #7070703f;

    .container {
        padding: 10px 0;

        p {
            color: #ffffffaa;
            text-align: center;
        }
    }
}

@media (min-width: 768px) {
    footer {

        .container {
            display: flex;
            justify-content: space-between;
            padding-top: 34px;
            padding-bottom: 15px;
        }
    }
}
